{
  "openapi": "3.0.0",
  "info": {
    "title": "Prosaic Public API",
    "version": "1.0.0",
    "description": "Prosaic is AI accounting software designed for accountants and bookkeepers. Our public API is in open beta.\n\nWant to get started developing with us? Get in touch at developer@prosaic.works.\n\nLearn more about Prosaic or start free a free trial at https://www.prosaic.works.\n\nBy using the Prosaic API, you agree to our [Developer API Terms](https://www.prosaic.works/developer-api-terms).\n\n## Authentication\n\nEvery request must be authenticated. Prosaic supports two methods, and both send their credential as a bearer token:\n\n```\nAuthorization: Bearer <api-key-or-access-token>\n```\n\n- **API key** — the quickest way to get started. Ideal for scripts, server-side jobs, and your own integrations.\n- **OAuth 2.1** — for applications acting on behalf of other Prosaic users. Requires a registered OAuth app.\n\nAlways send credentials over HTTPS, and never embed them in client-side code.\n\n### API key\n\n1. In Prosaic, go to **Settings → Users**.\n2. Find the user the key should act as (often yourself), open its **Actions** menu (⋯), and choose **Manage API keys** (workspace owners and admins only).\n3. Click **Create API key**, set a name and expiry, then **copy the key** — it begins with `prsk_` and is shown only once.\n\n`GET /api/public/v1/me` returns the authenticated user and is the simplest way to confirm your credential works:\n\n```bash\ncurl https://app.prosaic.works/api/public/v1/me \\\n  -H \"Authorization: Bearer prsk_your_api_key\"\n```\n\nA key acts as its user and can reach every workspace that user belongs to. If the user is in multiple workspaces, target one with the optional `x-workspace-id` header; otherwise the user's active workspace is used.\n\n### OAuth 2.1\n\nUse OAuth when your application accesses Prosaic on behalf of other users. Prosaic uses the **Authorization Code flow with PKCE** — an `S256` code challenge is required.\n\n**Register your app first.** OAuth apps are registered by the Prosaic team: email **hello@prosaic.works** with your application name, redirect URI(s), and the scopes you need. You'll receive a `client_id` (plus a `client_secret` for confidential web apps; native and single-page apps are public clients that use PKCE without a secret).\n\n**Scopes:** `openid` (required), `profile`, `email`, and `offline_access` (request it to receive a refresh token).\n\n**Endpoints** (also published at `https://app.prosaic.works/.well-known/oauth-authorization-server`):\n\n- Authorize — `https://app.prosaic.works/api/auth/oauth2/authorize`\n- Token — `https://app.prosaic.works/api/auth/oauth2/token`\n- Token verification (JWKS) — `https://app.prosaic.works/api/auth/jwks`\n\n**1. Redirect the user to the authorization endpoint**, including your PKCE challenge and a random `state`:\n\n```\nhttps://app.prosaic.works/api/auth/oauth2/authorize?response_type=code&client_id=YOUR_CLIENT_ID&redirect_uri=YOUR_REDIRECT_URI&scope=openid%20profile%20email%20offline_access&code_challenge=YOUR_CODE_CHALLENGE&code_challenge_method=S256&state=RANDOM_STATE\n```\n\nAfter the user signs in and approves, Prosaic redirects back to your `redirect_uri` with a `code`.\n\n**2. Exchange the code for tokens**, sending the matching `code_verifier`. Confidential web apps also authenticate with their `client_secret` (HTTP Basic, or a `client_secret` form field):\n\n```bash\ncurl -X POST https://app.prosaic.works/api/auth/oauth2/token \\\n  -H \"Content-Type: application/x-www-form-urlencoded\" \\\n  -d grant_type=authorization_code \\\n  -d code=AUTHORIZATION_CODE \\\n  -d redirect_uri=YOUR_REDIRECT_URI \\\n  -d client_id=YOUR_CLIENT_ID \\\n  -d code_verifier=YOUR_CODE_VERIFIER\n```\n\nA successful response returns your tokens:\n\n```json\n{\n  \"access_token\": \"...\",\n  \"token_type\": \"Bearer\",\n  \"expires_in\": 86400,\n  \"refresh_token\": \"...\",\n  \"scope\": \"openid profile email offline_access\"\n}\n```\n\n**3. Call the API** using the access token (valid for 24 hours):\n\n```bash\ncurl https://app.prosaic.works/api/public/v1/me \\\n  -H \"Authorization: Bearer ACCESS_TOKEN\"\n```\n\n**4. Refresh** when the access token expires, using the refresh token (valid for 30 days, returned only with `offline_access`):\n\n```bash\ncurl -X POST https://app.prosaic.works/api/auth/oauth2/token \\\n  -H \"Content-Type: application/x-www-form-urlencoded\" \\\n  -d grant_type=refresh_token \\\n  -d refresh_token=YOUR_REFRESH_TOKEN \\\n  -d client_id=YOUR_CLIENT_ID\n```\n\n## Date formats\n\nDate query parameters (for example `startDate`, `endDate`, `asOfDate`) must use **YYYY-MM-DD** calendar dates. An optional ISO 8601 time suffix is accepted (for example `2024-04-01T00:00:00.000Z`). Regional formats such as **DD-MM-YYYY** are rejected and return a `400` validation error.\n\nSee the `IsoDateString` schema in components for the exact pattern.\n\n## Common Workflows\n\nWhen working with the Prosaic API, you'll typically follow this lookup order to retrieve reference data needed for transactions and journals:\n\n1. **GET /api/public/v1/entities** — Retrieve entities, which include:\n   - `taxRates[]` — Available tax rates (GST codes like GST15, EXEMPT, ZERO) for use in the `taxCode` field when reconciling transactions or creating chart accounts\n   - `bankAccounts[]` — Linked bank accounts for each entity\n\n2. **GET /api/public/v1/entities/{entityId}/charts** — Retrieve the chart of accounts (account codes) for a specific entity\n\n3. Use the `taxRates[].code` values (from step 1) as the `taxCode` field when reconciling transactions or creating child accounts\n\n4. Use the `charts[].code` values (from step 2) as the `code` field in reconciliation assignment lines or when creating journals",
    "contact": {
      "name": "Prosaic Support",
      "url": "https://www.prosaic.works",
      "email": "developer@prosaic.works"
    }
  },
  "servers": [
    {
      "url": "https://app.prosaic.works",
      "description": "Prosaic API Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Generate an API key in Settings → Users → Actions (⋯) → Manage API keys, then provide it as: Bearer prsk_..."
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.1 authorization with PKCE support (S256 code challenge required).\n\n**Discovery Endpoints:**\n- OpenID Configuration: `/.well-known/openid-configuration`\n- OAuth Authorization Server: `/.well-known/oauth-authorization-server`\n- OAuth Protected Resource (MCP): `/.well-known/oauth-protected-resource`\n- JWKS (for token verification): `/api/auth/jwks`\n\n**Dynamic Client Registration:** Supported via POST to `/api/auth/oauth2/register`\n\n**Token Verification:** Access tokens are JWT-signed with EdDSA (Ed25519). Verify using the JWKS endpoint.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://app.prosaic.works/api/auth/oauth2/authorize",
            "tokenUrl": "https://app.prosaic.works/api/auth/oauth2/token",
            "scopes": {
              "openid": "Verify your identity (required for OIDC)",
              "profile": "Access your profile information (name, picture)",
              "email": "Access your email address",
              "offline_access": "Request refresh tokens for long-lived access"
            }
          }
        }
      }
    },
    "schemas": {
      "ApiSuccessResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "The response data"
          },
          "meta": {
            "type": "object",
            "properties": {
              "count": {
                "type": "number",
                "description": "Total number of items returned"
              }
            }
          }
        }
      },
      "ApiErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code for programmatic handling"
          }
        }
      },
      "IsoDateString": {
        "type": "string",
        "format": "date",
        "pattern": "^\\d{4}-\\d{2}-\\d{2}($|T)",
        "description": "Calendar date in YYYY-MM-DD format (ISO 8601). An optional time suffix (for example `T00:00:00.000Z`) is accepted. Regional formats such as DD-MM-YYYY are rejected.",
        "example": "2024-04-01"
      },
      "PublicContact": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/PublicBusinessContact"
          },
          {
            "$ref": "#/components/schemas/PublicIndividualContact"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "BUSINESS": "#/components/schemas/PublicBusinessContact",
            "INDIVIDUAL": "#/components/schemas/PublicIndividualContact"
          }
        }
      },
      "PublicContactBase": {
        "type": "object",
        "required": [
          "id",
          "workspaceId",
          "entityId",
          "status",
          "displayName",
          "legalName",
          "identifierScheme",
          "identifier",
          "gstNumber",
          "website",
          "notes",
          "invoiceNotes",
          "organisationId",
          "receivesInvoices",
          "addresses",
          "phones",
          "organisation",
          "createdAt",
          "updatedAt",
          "archivedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "workspaceId": {
            "type": "string",
            "format": "uuid"
          },
          "entityId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "archived"
            ]
          },
          "displayName": {
            "type": "string"
          },
          "legalName": {
            "type": "string",
            "nullable": true
          },
          "identifierScheme": {
            "type": "string",
            "nullable": true
          },
          "identifier": {
            "type": "string",
            "nullable": true
          },
          "gstNumber": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "invoiceNotes": {
            "type": "string",
            "nullable": true
          },
          "organisationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "receivesInvoices": {
            "type": "boolean"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "organisation": {
            "type": "object",
            "nullable": true,
            "required": [
              "id",
              "displayName"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "displayName": {
                "type": "string"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "archivedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "PublicBusinessContact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PublicContactBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "people"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "BUSINESS"
                ]
              },
              "people": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PublicContactPerson"
                }
              }
            }
          }
        ]
      },
      "PublicIndividualContact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PublicContactBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "emails"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "INDIVIDUAL"
                ]
              },
              "emails": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PublicContactEmail"
                }
              }
            }
          }
        ]
      },
      "PublicContactEmail": {
        "type": "object",
        "required": [
          "id",
          "email",
          "label"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "label": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PublicContactPerson": {
        "type": "object",
        "required": [
          "id",
          "displayName",
          "receivesInvoices",
          "status",
          "archivedAt",
          "emails"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "displayName": {
            "type": "string"
          },
          "receivesInvoices": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "archived"
            ]
          },
          "archivedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicContactEmail"
            }
          }
        }
      },
      "GeneralLedgerEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Journal line ID"
          },
          "journalId": {
            "type": "string",
            "format": "uuid",
            "description": "Physical journal ID"
          },
          "logicalJournalId": {
            "type": "string",
            "format": "uuid",
            "description": "Logical journal ID for deep linking"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Journal date as an NZ calendar date (YYYY-MM-DD). Matches the NZ-timezone period filtering, so a transaction always appears under the same NZ date it is filtered by.",
            "example": "2026-05-31"
          },
          "narration": {
            "type": "string",
            "description": "Journal-level narration"
          },
          "description": {
            "type": "string",
            "description": "Line-level description"
          },
          "lineType": {
            "type": "string",
            "enum": [
              "user",
              "generated-bank-line",
              "generated-tax-line"
            ]
          },
          "parentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Parent line ID for tax lines"
          },
          "source": {
            "type": "string",
            "description": "Human-readable source label (Bank Rec, Manual Journal, System, Reversal)"
          },
          "journalStatus": {
            "type": "string",
            "description": "Journal status (posted, voided)"
          },
          "debit": {
            "type": "string",
            "description": "Debit amount (5 decimal places)"
          },
          "credit": {
            "type": "string",
            "description": "Credit amount (5 decimal places)"
          },
          "net": {
            "type": "string",
            "description": "Net amount (debit - credit, 5 decimal places)"
          },
          "gross": {
            "type": "string",
            "description": "Gross amount including GST"
          },
          "runningBalance": {
            "type": "string",
            "description": "Cumulative account balance after this line, debits minus credits. Positive is a debit balance, negative a credit balance, for every account type."
          },
          "gstAmount": {
            "type": "string",
            "description": "GST amount (positive for expenses, negative for revenue)"
          },
          "taxRate": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "name": {
                "type": "string"
              },
              "rate": {
                "type": "string"
              }
            }
          },
          "bankTransaction": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "date": {
                "type": "string",
                "format": "date"
              },
              "amount": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "DEBIT",
                  "CREDIT"
                ]
              },
              "description": {
                "type": "string"
              },
              "particulars": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "merchant": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "provider": {
                    "type": "string"
                  },
                  "identifier": {
                    "type": "string"
                  }
                }
              },
              "category": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "groupName": {
                    "type": "string"
                  },
                  "provider": {
                    "type": "string"
                  }
                }
              },
              "bankAccount": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "accountNumber": {
                    "type": "string"
                  },
                  "institution": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "OAuth2": [
        "openid",
        "profile",
        "email"
      ]
    }
  ],
  "paths": {
    "/api/public/v1/charts/{chartId}/accounts/{accountId}/delete": {
      "post": {
        "summary": "Delete a single account from a chart of accounts template",
        "description": "Removes one account from a chart of accounts template without resending the full account list.\nThe removal propagates to every entity using the template. Accounts that have journal entries,\nchild accounts, or are system accounts cannot be removed. `accountId` is the TemplateAccount ID\nfrom `GET /charts/{chartId}`. Requires API key authentication.\n",
        "tags": [
          "Charts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "chartId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "entitiesUpdated": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "success",
                        "entitiesUpdated"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "count"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Account has journal entries, has children, or is a system account"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Chart or account not found"
          }
        },
        "operationId": "charts.deleteAccount",
        "x-sdk-resource": "charts",
        "x-sdk-method": "deleteAccount"
      }
    },
    "/api/public/v1/charts/{chartId}/accounts/{accountId}/update": {
      "post": {
        "summary": "Update a single account in a chart of accounts template",
        "description": "Updates one account in a chart of accounts template without resending the full account list.\nSupports `name`, `description`, `taxCode`, `mappedCode` and `code` (rename, kept under the same\nparent). A code rename cascades non-destructively to every entity account derived from this\ntemplate account (balances and customizations are preserved). Changes propagate to all entities\nusing the template. Omitted fields preserve their existing values; send `description: null` to\nclear the description. `accountId` is the TemplateAccount ID from `GET /charts/{chartId}`.\nRequires API key authentication.\n",
        "tags": [
          "Charts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "chartId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true
                  },
                  "taxCode": {
                    "type": "string",
                    "enum": [
                      "NZ_GST_15_INC",
                      "NZ_GST_15_EXP",
                      "NZ_GST_0_NONE",
                      "NZ_GST_0_ZERO",
                      "AU_GST_10_INC",
                      "AU_GST_10_EXP",
                      "AU_GST_0_NONE",
                      "AU_GST_0_INPUT",
                      "AU_GST_0_EXPORT"
                    ],
                    "nullable": true
                  },
                  "mappedCode": {
                    "type": "string",
                    "nullable": true
                  },
                  "code": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "entitiesUpdated": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "id",
                        "entitiesUpdated"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "count"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Validation error or business rule violation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Chart or account not found"
          },
          "409": {
            "description": "The new code conflicts with an existing template or entity account"
          }
        },
        "operationId": "charts.updateAccount",
        "x-sdk-resource": "charts",
        "x-sdk-method": "updateAccount"
      }
    },
    "/api/public/v1/charts/{chartId}/accounts": {
      "post": {
        "summary": "Add a single account to a chart of accounts template",
        "description": "Adds one account to a chart of accounts template without resending the full account list. To\nadd a top-level (parent) account, provide its global account `code`; to add a custom child\naccount, provide `code`, `name`, and `parentCode` (the child code must be `{parentCode}.{digits}`).\nThe addition propagates to every entity using the template. Requires API key authentication.\n",
        "tags": [
          "Charts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "chartId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string",
                    "nullable": true
                  },
                  "parentCode": {
                    "type": "string",
                    "nullable": true
                  },
                  "taxCode": {
                    "type": "string",
                    "enum": [
                      "NZ_GST_15_INC",
                      "NZ_GST_15_EXP",
                      "NZ_GST_0_NONE",
                      "NZ_GST_0_ZERO",
                      "AU_GST_10_INC",
                      "AU_GST_10_EXP",
                      "AU_GST_0_NONE",
                      "AU_GST_0_INPUT",
                      "AU_GST_0_EXPORT"
                    ],
                    "nullable": true
                  },
                  "description": {
                    "type": "string",
                    "nullable": true
                  },
                  "mappedCode": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": [
                  "code"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "nullable": true
                        },
                        "code": {
                          "type": "string"
                        },
                        "entitiesUpdated": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "id",
                        "code",
                        "entitiesUpdated"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "count"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Validation error or business rule violation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Chart not found"
          },
          "409": {
            "description": "An account with this code already exists, or the code conflicts with a custom entity account"
          }
        },
        "operationId": "charts.createAccount",
        "x-sdk-resource": "charts",
        "x-sdk-method": "createAccount"
      }
    },
    "/api/public/v1/charts/{chartId}/delete": {
      "post": {
        "summary": "Delete a chart of accounts template",
        "description": "Deletes a chart of accounts template. Cannot delete templates with assigned entities. Requires API key authentication.",
        "tags": [
          "Charts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "chartId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "count"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Chart not found"
          },
          "409": {
            "description": "Cannot delete template with assigned entities"
          }
        },
        "operationId": "charts.del",
        "x-sdk-resource": "charts",
        "x-sdk-method": "del"
      }
    },
    "/api/public/v1/charts/{chartId}": {
      "get": {
        "summary": "Get chart of accounts template accounts",
        "description": "Returns paginated accounts from a chart-of-accounts **template** (the read-only blueprint entities are provisioned from). When `includeHidden=true`, also returns global accounts not in the template with `isIncluded=false`. Requires API key authentication.\n\n**Important**: The `id` values returned by this endpoint are *template account* IDs (`TemplateAccount.id`). They are **not** the IDs of an entity's actual GL accounts — do not use them to post journals or look up reconciliation activity.\n\nTo fetch the chart of accounts for a specific entity (including bank-account-linked accounts and any custom accounts), use `GET /api/public/v1/entities/{entityId}/charts`. The bank-account-to-GL linkage is also embedded on each entity's bank account at `bankAccounts[].entityAccount` in the `GET /api/public/v1/entities` response.\n\n**Tax codes**: The `taxCode` field is returned as the human-readable tax *name* (e.g. `\"15% GST on Income\"`, or `\"No GST\"` when unset), not the machine code. When creating or updating a template you must pass the machine *code* instead (`NZ_GST_15_INC`, `NZ_GST_15_EXP`, `NZ_GST_0_NONE`, `NZ_GST_0_ZERO`), so convert the name back to its code before writing.\n",
        "tags": [
          "Charts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "chartId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeHidden",
            "in": "query",
            "required": false,
            "description": "When true, includes global accounts not in the template (with isIncluded=false). Disables pagination.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (starts at 1). Ignored when includeHidden=true.",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of items per page. Ignored when includeHidden=true.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "subtype": {
                            "type": "string"
                          },
                          "taxCode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "mappedCode": {
                            "type": "string",
                            "nullable": true
                          },
                          "isSystem": {
                            "type": "boolean"
                          },
                          "parentId": {
                            "type": "string",
                            "nullable": true
                          },
                          "isExcluded": {
                            "type": "boolean"
                          },
                          "isIncluded": {
                            "type": "boolean"
                          },
                          "source": {
                            "type": "string",
                            "enum": [
                              "template",
                              "overridden",
                              "custom"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "code",
                          "name",
                          "type",
                          "subtype",
                          "taxCode",
                          "description",
                          "mappedCode",
                          "isSystem"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "currentPage": {
                          "type": "number"
                        },
                        "pageSize": {
                          "type": "number"
                        },
                        "totalCount": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        },
                        "hasNextPage": {
                          "type": "boolean"
                        },
                        "hasPreviousPage": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "currentPage",
                        "pageSize",
                        "totalCount",
                        "totalPages",
                        "hasNextPage",
                        "hasPreviousPage"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - No access to the specified chart"
          },
          "404": {
            "description": "Chart not found"
          }
        },
        "operationId": "charts.listAccounts",
        "x-sdk-resource": "charts",
        "x-sdk-method": "listAccounts"
      }
    },
    "/api/public/v1/charts/{chartId}/update": {
      "post": {
        "summary": "Update a chart of accounts template",
        "description": "Updates a chart of accounts template. When `accounts` is provided it fully replaces the\ntemplate's account list (delegates to updateAccountTemplateAccounts and propagates to all\nentities). When `accounts` is omitted, only the provided template metadata (`name`,\n`description`) is updated and accounts are left untouched. Omit a metadata field to preserve\nits existing value, or send `description: null` to clear the description. A full replacement\nlist must still contain every\nsystem account (`GET /api/public/v1/global-accounts`, `isSystem: true`) with\n`isIncluded: true` — otherwise the request fails with `SYSTEM_ACCOUNT_VALIDATION` listing\nall missing accounts. Set `includeSystemAccounts: true` to carry over any omitted system\naccounts automatically. For surgical single-account changes use the\n`/charts/{chartId}/accounts` endpoints instead. Requires API key authentication.\n\n**Tax codes**: The `taxCode` field expects the machine code, not the human-readable tax name.\nPassing a name (e.g. `\"15% GST on Income\"`) is stored verbatim and resolves to null wherever the\ncode is looked up. Valid codes are `NZ_GST_15_INC` (15% GST on Income), `NZ_GST_15_EXP`\n(15% GST on Expenses), `NZ_GST_0_NONE` (No GST), and `NZ_GST_0_ZERO` (Zero-rated GST). Note that\n`GET /api/public/v1/charts/{chartId}` returns the human-readable name on read — convert it back to\nthe machine code before writing.\n\n**Field preserve/clear semantics**: For each account, omitting a field (`description`, `taxCode`,\n`mappedCode`) preserves its existing value, while an explicit null clears it (taxCode clears to\n`NZ_GST_0_NONE`).\n",
        "tags": [
          "Charts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "chartId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true
                  },
                  "includeSystemAccounts": {
                    "type": "boolean"
                  },
                  "accounts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "isIncluded": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "taxCode": {
                          "type": "string",
                          "enum": [
                            "NZ_GST_15_INC",
                            "NZ_GST_15_EXP",
                            "NZ_GST_0_NONE",
                            "NZ_GST_0_ZERO",
                            "AU_GST_10_INC",
                            "AU_GST_10_EXP",
                            "AU_GST_0_NONE",
                            "AU_GST_0_INPUT",
                            "AU_GST_0_EXPORT"
                          ],
                          "nullable": true
                        },
                        "mappedCode": {
                          "type": "string",
                          "nullable": true
                        },
                        "parentCode": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "code",
                        "isIncluded"
                      ],
                      "additionalProperties": false
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "entitiesUpdated": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "description",
                        "entitiesUpdated"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "count"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Validation error or business rule violation. `SYSTEM_ACCOUNT_VALIDATION` includes `details.missingAccounts` listing every required system account absent from the payload."
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Chart not found"
          },
          "409": {
            "description": "Account code conflict - new template account codes conflict with custom accounts in entities using this template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "code"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Account code conflict"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "ACCOUNT_CODE_CONFLICT"
                      ]
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "accountCode": {
                          "type": "string",
                          "description": "(deprecated) Use accountCodes[0] for backward compatibility"
                        },
                        "accountCodes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "All new account codes that conflict with entity custom accounts"
                        },
                        "conflictingEntityIds": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "description": "Entity IDs that have conflicting custom accounts"
                        },
                        "conflictingEntities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "entityId": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "entityName": {
                                "type": "string"
                              },
                              "conflictingAccountCodes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Account codes in this entity that conflict"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": "Account code conflict",
                  "code": "ACCOUNT_CODE_CONFLICT",
                  "details": {
                    "accountCode": "1100",
                    "accountCodes": [
                      "1100",
                      "1200"
                    ],
                    "conflictingEntityIds": [
                      "550e8400-e29b-41d4-a716-446655440001"
                    ],
                    "conflictingEntities": [
                      {
                        "entityId": "550e8400-e29b-41d4-a716-446655440001",
                        "entityName": "Acme Ltd",
                        "conflictingAccountCodes": [
                          "1100",
                          "1200"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "charts.update",
        "x-sdk-resource": "charts",
        "x-sdk-method": "update"
      }
    },
    "/api/public/v1/charts": {
      "get": {
        "summary": "List all chart of accounts templates",
        "description": "Returns all chart of accounts templates in the workspace. Requires API key authentication.",
        "tags": [
          "Charts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "accountCount": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "description",
                          "accountCount"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "count"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        },
        "operationId": "charts.list",
        "x-sdk-resource": "charts",
        "x-sdk-method": "list",
        "parameters": []
      },
      "post": {
        "summary": "Create a chart of accounts template",
        "description": "Creates a new chart of accounts template in the workspace. Every system global\naccount (see `GET /api/public/v1/global-accounts`, `isSystem: true`) must be present\nin `accounts` with `isIncluded: true` — otherwise the request fails with\n`SYSTEM_ACCOUNT_VALIDATION` listing all missing accounts. Set\n`includeSystemAccounts: true` to have any omitted system accounts added\nautomatically from their global definitions. Requires API key authentication.\n\n**Tax codes**: The `taxCode` field expects the machine code, not the human-readable tax name.\nPassing a name (e.g. `\"15% GST on Income\"`) is stored verbatim and resolves to null wherever the\ncode is looked up. Valid codes are `NZ_GST_15_INC` (15% GST on Income), `NZ_GST_15_EXP`\n(15% GST on Expenses), `NZ_GST_0_NONE` (No GST), and `NZ_GST_0_ZERO` (Zero-rated GST). Omit\n`taxCode` or set it to null to default to `NZ_GST_0_NONE` (No GST).\n\n**Description defaults**: `description` is optional per account; omitting it (or null) leaves\nthe account description empty.\n",
        "tags": [
          "Charts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "accounts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "isIncluded": {
                          "type": "boolean"
                        },
                        "subtype": {
                          "type": "string",
                          "nullable": true
                        },
                        "taxCode": {
                          "type": "string",
                          "enum": [
                            "NZ_GST_15_INC",
                            "NZ_GST_15_EXP",
                            "NZ_GST_0_NONE",
                            "NZ_GST_0_ZERO",
                            "AU_GST_10_INC",
                            "AU_GST_10_EXP",
                            "AU_GST_0_NONE",
                            "AU_GST_0_INPUT",
                            "AU_GST_0_EXPORT"
                          ],
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "mappedCode": {
                          "type": "string",
                          "nullable": true
                        },
                        "parentCode": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "code",
                        "name",
                        "type",
                        "isIncluded"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "description": {
                    "type": "string"
                  },
                  "includeSystemAccounts": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "accounts"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "description"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "count"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Validation error. `SYSTEM_ACCOUNT_VALIDATION` includes `details.missingAccounts` listing every required system account absent from the payload.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "code"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Missing required system accounts: 8500 (GST), 8950 (Rounding). All system accounts must be included in the template with isIncluded: true."
                    },
                    "code": {
                      "type": "string",
                      "example": "SYSTEM_ACCOUNT_VALIDATION"
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "missingAccounts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "example": "8500"
                              },
                              "name": {
                                "type": "string",
                                "example": "GST"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "charts.create",
        "x-sdk-resource": "charts",
        "x-sdk-method": "create",
        "parameters": []
      }
    },
    "/api/public/v1/clients/{clientId}/bank-accounts": {
      "get": {
        "summary": "List client's bank accounts",
        "description": "Returns all bank accounts belonging to the specified client.\n\nAccess control:\n- Authenticated user must be the client themselves, OR\n- Authenticated user must be in the same workspace as the client (accountant/advisor)\n",
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "clientId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "entityId": {
                            "type": "string",
                            "nullable": true
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "alias": {
                            "type": "string",
                            "nullable": true
                          },
                          "institution": {
                            "type": "string",
                            "nullable": true
                          },
                          "accountNumber": {
                            "type": "string",
                            "nullable": true
                          },
                          "logoUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "type": "string"
                          },
                          "entityAccount": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "subtype": {
                                "type": "string"
                              },
                              "taxCode": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string",
                                "nullable": true
                              },
                              "mappedCode": {
                                "type": "string",
                                "nullable": true
                              },
                              "isSystem": {
                                "type": "boolean"
                              },
                              "parentId": {
                                "type": "string",
                                "nullable": true
                              },
                              "isExcluded": {
                                "type": "boolean"
                              },
                              "isIncluded": {
                                "type": "boolean"
                              },
                              "source": {
                                "type": "string",
                                "enum": [
                                  "template",
                                  "overridden",
                                  "custom"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "code",
                              "name",
                              "type",
                              "subtype",
                              "taxCode",
                              "description",
                              "mappedCode",
                              "isSystem"
                            ],
                            "additionalProperties": false,
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "entityId",
                          "externalId",
                          "name",
                          "alias",
                          "institution",
                          "accountNumber",
                          "logoUrl",
                          "type",
                          "entityAccount"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "count"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key/token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User does not have access to this client",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Client not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "clients.listBankAccounts",
        "x-sdk-resource": "clients",
        "x-sdk-method": "listBankAccounts"
      }
    },
    "/api/public/v1/clients/{clientId}/onboarding": {
      "post": {
        "operationId": "clients.createOnboardingLink",
        "summary": "clients.createOnboardingLink",
        "x-sdk-resource": "clients",
        "x-sdk-method": "createOnboardingLink",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "magicLink": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "magicLink"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "count"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "clientId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "integrationId": {
                    "type": "string"
                  },
                  "callbackURL": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/public/v1/clients/{clientId}/transactions": {
      "get": {
        "summary": "List client's bank transactions",
        "description": "Returns paginated bank transactions for the specified client.\n\nAccess control:\n- Authenticated user must be the client themselves, OR\n- Authenticated user must be in the same workspace as the client (accountant/advisor)\n\nSupports filtering by:\n- Bank account IDs (comma-separated)\n- Date range (dateFrom, dateTo)\n- Reconciliation status (reconciled | unreconciled)\n",
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "clientId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bankAccountIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Comma-separated list of bank account IDs to filter by",
            "example": "uuid1,uuid2,uuid3",
            "style": "form",
            "explode": false
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for filtering transactions (ISO 8601 format)",
            "example": "2024-04-01"
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for filtering transactions (ISO 8601 format)",
            "example": "2025-03-31"
          },
          {
            "name": "reconciliationStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "reconciled",
                "unreconciled"
              ]
            },
            "description": "Filter by reconciliation status"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number (starts at 1)"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 500
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entityId": {
                            "type": "string",
                            "nullable": true
                          },
                          "reconciliationStatus": {
                            "type": "string",
                            "enum": [
                              "reconciled",
                              "unreconciled"
                            ]
                          },
                          "journalId": {
                            "type": "string",
                            "nullable": true
                          },
                          "bankAccount": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "entityId": {
                                "type": "string",
                                "nullable": true
                              },
                              "externalId": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "alias": {
                                "type": "string",
                                "nullable": true
                              },
                              "institution": {
                                "type": "string",
                                "nullable": true
                              },
                              "accountNumber": {
                                "type": "string",
                                "nullable": true
                              },
                              "logoUrl": {
                                "type": "string",
                                "nullable": true
                              },
                              "type": {
                                "type": "string"
                              },
                              "entityAccount": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "subtype": {
                                    "type": "string"
                                  },
                                  "taxCode": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "mappedCode": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "isSystem": {
                                    "type": "boolean"
                                  },
                                  "parentId": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "isExcluded": {
                                    "type": "boolean"
                                  },
                                  "isIncluded": {
                                    "type": "boolean"
                                  },
                                  "source": {
                                    "type": "string",
                                    "enum": [
                                      "template",
                                      "overridden",
                                      "custom"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "code",
                                  "name",
                                  "type",
                                  "subtype",
                                  "taxCode",
                                  "description",
                                  "mappedCode",
                                  "isSystem"
                                ],
                                "additionalProperties": false,
                                "nullable": true
                              }
                            },
                            "required": [
                              "id",
                              "entityId",
                              "externalId",
                              "name",
                              "alias",
                              "institution",
                              "accountNumber",
                              "logoUrl",
                              "type",
                              "entityAccount"
                            ],
                            "additionalProperties": false
                          },
                          "merchant": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "provider": {
                                "type": "string",
                                "nullable": true
                              },
                              "identifier": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "provider",
                              "identifier"
                            ],
                            "additionalProperties": false,
                            "nullable": true
                          },
                          "category": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "identifier": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "identifier"
                            ],
                            "additionalProperties": false,
                            "nullable": true
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "tradingName": {
                                "type": "string",
                                "nullable": true
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "required": [
                              "id",
                              "email",
                              "name",
                              "tradingName",
                              "createdAt"
                            ],
                            "additionalProperties": false
                          },
                          "suggestions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "sourceType": {
                                  "type": "string"
                                },
                                "confidence": {
                                  "type": "string",
                                  "description": "Exact decimal serialized as a string. Use Decimal.js for arithmetic."
                                },
                                "status": {
                                  "type": "string"
                                },
                                "ruleId": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "ruleName": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "lines": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "proportion": {
                                        "type": "string",
                                        "description": "Exact decimal serialized as a string. Use Decimal.js for arithmetic.",
                                        "nullable": true
                                      },
                                      "credit": {
                                        "type": "string",
                                        "description": "Exact decimal serialized as a string. Use Decimal.js for arithmetic."
                                      },
                                      "debit": {
                                        "type": "string",
                                        "description": "Exact decimal serialized as a string. Use Decimal.js for arithmetic."
                                      },
                                      "entityAccountId": {
                                        "type": "string"
                                      },
                                      "entityAccount": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "code": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "code",
                                          "name"
                                        ],
                                        "additionalProperties": false
                                      },
                                      "taxRateId": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "taxRate": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "code": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "description": {
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "rate": {
                                            "type": "string",
                                            "description": "Exact decimal serialized as a string. Use Decimal.js for arithmetic."
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "code",
                                          "name",
                                          "description",
                                          "rate"
                                        ],
                                        "additionalProperties": false,
                                        "nullable": true
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "proportion",
                                      "credit",
                                      "debit",
                                      "entityAccountId",
                                      "entityAccount",
                                      "taxRateId",
                                      "taxRate"
                                    ],
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "required": [
                                "id",
                                "sourceType",
                                "confidence",
                                "status",
                                "ruleId",
                                "ruleName",
                                "lines"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Exact decimal serialized as a string. Use Decimal.js for arithmetic."
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "particulars": {
                            "type": "string",
                            "nullable": true
                          },
                          "code": {
                            "type": "string",
                            "nullable": true
                          },
                          "reference": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "entityId",
                          "reconciliationStatus",
                          "journalId",
                          "bankAccount",
                          "merchant",
                          "category",
                          "user",
                          "id",
                          "date",
                          "amount",
                          "description",
                          "type",
                          "particulars",
                          "code",
                          "reference"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "currentPage": {
                          "type": "number"
                        },
                        "pageSize": {
                          "type": "number"
                        },
                        "totalCount": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        },
                        "hasNextPage": {
                          "type": "boolean"
                        },
                        "hasPreviousPage": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "currentPage",
                        "pageSize",
                        "totalCount",
                        "totalPages",
                        "hasNextPage",
                        "hasPreviousPage"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key/token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User does not have access to this client",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Client not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "clients.listTransactions",
        "x-sdk-resource": "clients",
        "x-sdk-method": "listTransactions"
      }
    },
    "/api/public/v1/clients": {
      "get": {
        "summary": "List clients",
        "description": "Returns client users (`client` and `standard_user` roles) in the workspace tied to the token.\nCallers authenticated as client or standard_user only ever receive their own client record,\neven within a shared workspace. Accountant-style roles receive the full list (subject to filters).\n",
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "clientId",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by specific client ID"
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by client email address"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
[...]
